
body{
   
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
body,html{
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

header{
    background-color:   black;
color: goldenrod;
}
i{
  
    font-size: 30px;
    margin: auto;
    color: goldenrod ;
    
    
}
p{
    color: black;

}

a{
    text-decoration: none;
}

.card{
    box-shadow: 5px 10px 18px #888888;
    border-radius: 15px;
    background-color:  goldenrod ;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.2s;
    
}

    
.class1{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;

}
